<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%- title %></title>
		<meta name="description" content="undefine:D,undefined,javascript,html5,css3,frontend">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<%- assets.css() %>
	</head>

	<body>
		<%- body %>

		<!-- Templates from your view path are included here -->
		<%- assets.templateLibrary() %>
		<!-- Javascripts from your assets folder are included here -->
		<%- assets.js() %>
	</body>
</html>
