<div class="row">
  <div class="col-md-12">
    <h3>User</h3>
    <p><img src="<%= @user.image if @user.image %>"></p>
    <p>Name: <%= @user.name if @user.name %></p> 
    <p>provider: <%= @user.provider if @user.provider %></p>
    <p>
    <%= simple_form_for @user, :html=> { class: 'form-inline' } do |f| %>
      <%= f.error_notification %>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">Nickname</div>
          <input class="form-control" type="text" name="user[nickname]" id="nickname" 
              value="<%= @user.nickname if @user.nickname %>" placeholder="Enter nickname">
        </div>
      </div>
      <button type="submit" class="btn btn-default">Update</button>

        <%#= f.input :nickname, input_html: { placeholder:'Nickname'} %>
        <%#= f.button :submit, class: 'btn btn-default' %>
    <% end %>
    </p>
    <!-- <p>uid: <%#= @user.uid if @user.uid %></p> -->
    <!-- <p>email: <%#= @user.email if @user.email %></p> -->

    <p>created_at: <%= @user.created_at if @user.created_at %></p>
    <p>updated_at: <%= @user.updated_at if @user.updated_at %></p>
  </div>
</div>

