<h3>User</h3>
<p><img src="<%= @user.image if @user.image %>"></p>
<p>Name: <%= @user.name if @user.name %></p> 
<p>provider: <%= @user.provider if @user.provider %></p>
<p>nickname: <%= @user.nickname if @user.nickname %></p>
<!-- <p>uid: <%#= @user.uid if @user.uid %></p> -->
<!-- <p>email: <%#= @user.email if @user.email %></p> -->

<p>created_at: <%= @user.created_at if @user.created_at %></p>
<p>updated_at: <%= @user.updated_at if @user.updated_at %></p>

