<%= simple_form_for(@tag) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control', rows: 5 } %>
  </div>
  <div class="form-group">
    <%= f.input :url, input_html: { class: 'form-control', rows: 5 } %>
  </div>

  <%= f.button :submit, class: 'btn btn-default' %>

<% end %>
