<script>
$(document).ready(function() {
  tipJS.loadApp("user");
});
</script>

<%- partial('../header') %>

<div class="container">

<header>
  <div class="row">
    <div class="span6">
      <h1 class="hidden">undefine:D </h1>
      <p class="lead hidden">JavaScript, HTML5, CSS3, Developer, Designer, 한달에 한번씩 각자의 관심사를 공부, 공유합니다.</p>
      <p>undefine:D 사이트를 베타 오픈 합니다. By <a href="http://twitter.com/rkjun">rkJun</a></p>
    </div>
    <div class="span4 offset2 hidden">
      <div class="well">
        <img src="/images/undefined_kr_logo_for_light_background.png" />
      </div>
    </div>
  </div>
</header>

<!-- Typography
================================================== -->
<section id="top-section-list">
  <a href="/board/write"><button type="button" id="btn_write" class="btn btn-primary pull-right" data-loading-text="Loading..."><i class="icon-pencil"></i> 글쓰기</button></a>

  
  <% _.each(users, function (user) { %>
    <div class="container-fluid margin-top5 border-bottom-hr">
      <div class="row">
        <div class="span1">
          <div><p class="label"><%= user.viewCount %> 조회</p></div>
          <div><p class="label label-success"><%= user.goodCount %> 추천</p></div>
          <!-- <div><p class="label label-important">100 댓글</p></div> -->
        </div>
        <div class="span10 pull-right">
          <a href="/qnaboard/<%= user.id %>"><h5><%= user.title %></h5></a>
          <p><%= user.contents %></p>
          <span class="badge">java</span>
          <span class="badge">javaScript</span>
          <span>2013-07-02, rkJun</span>           
          <p>Tags: 
              <% _.each(user.tag, function(tagItem) { %>
                <a href="#"><span class="label label-info"><%= tagItem %></span></a> 
              <% }); %>
                | <i class="icon-user"></i> <a href="/user/<%= user.authorId %>"><%= user.authorId %></a> 
                | <i class="icon-calendar"></i> <%= user.createdAt %>
                <!-- | <i class="icon-comment"></i> <a href="#">3 Comments</a> -->
                <!-- | <i class="icon-share"></i> <a href="#">39 Shares</a> -->
          </p>
        </div>
      </div>
    </div>
  <% }); %>



  <!-- status -->
  <div class="span3">
    <h4>Goal for Today:</h4>
    <ul class="unstyled">
        <li>450 방문자 <span class="pull-right strong">45%</span>
            <div class="progress progress-important">
                <div class="bar" style="width: 45%;"></div>
            </div>
        </li>
        <li>300 Unique Visitors<span class="pull-right strong">30%</span>
            <div class="progress progress-success">
                <div class="bar" style="width: 30%;"></div>
            </div>
        </li>
    </ul>
  </div>
  <!-- status -->
  </div>


</section>
      
     <%- partial('../footer') %>

    </div>
<!-- /container -->