<h2><%= params[:bulletin_id] %></h2>

<table class='table'>
<tr>
  <th>Title</th>
  <td><%= @post.title %></td>
</tr>
<tr>
  <th>Content</th>
  <td><%= markdown @post.content %></td>
</tr>
<tr>
  <th>Tag list</th>
  <td><%= tag_icons @post.tag_list %></td>
</tr>
<tr>
  <th>User</th>
  <td><img src="<%=@post.user.image%>" style="height:70px" class="img-rounded"><%= @post.user.nickname %></td>
</tr>
<tr>
  <th>Created at</th>
  <td><%= I18n.l @post.created_at, format: :default %> <!-- <%= @post.created_at %> --> </td>
</tr>
</table>


<%= link_to 'Edit', edit_bulletin_post_path(@post.bulletin, @post), class: 'btn btn-default' %>
<%= link_to 'Back', bulletin_posts_path, class: 'btn btn-default' %>

<%= render "comments/comments" %>