<script src="/js/app/board/app.js"></script>

<section id="section-board">
  <form action="/board/" method="post" class="form-horizontal" id="frmBoard">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <input type="hidden" name="offlineNo" value="19" />

    <div class="container">
      <div class="row col-md-12">
        <div class="col-md-12">
          <div class="page-header">
            <h3>Temporary Board<small> test only</small></h3>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <button class="btn btn-primary pull-right" id="btn_write_view">
          글쓰기
        </button>
      </div>

      <!-- write form -->
      <div class="row hidden" id="write_area">
        <div class="col-md-9 form-horizontal">
            <div id="divAlert" class="alert hidden">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong id="returnType"></strong><span id="returnMessage"></span>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label" for="txtTitle">글 제목</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" placeholder="새로운 글 제목" name="title" id="txtTitle" />
              </div>

              <label class="col-lg-2 control-label" for="txtContents">글 내용</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="5"  name="contents" id="txtContents"></textarea>
              </div>
            </div>

            <div class="input-group">
              <span class="input-group-addon">태그</span>
              <input type="text" class="form-control" placeholder="태그 쉼표 , 로 구분" name="tags" id="txtTags">
            </div>
            <span class="help-block">태그와 태그 사이에는 쉼표 (,) 를 넣어 구분해 주세요.</span>

          
           <div class="text-center" id="div_btn_area">
             <button class="btn btn-default btn-sm" type="submit" id="btn_create">글 올리기</button>
             <button class="btn btn-default btn-sm" type="submit" id="btn_preview">미리보기</button>
             <button class="btn btn-default btn-sm" type="submit" id="btn_cancel">참가취소</button>
           </div>

        </div>
      </div>
      <!-- end of write form -->

      <!-- list form -->
      <div class="row" id="list_area">
        <div class="col-md-12">
          <div class="page-header">
            <h4>글목록</h4>
          </div>
          <div class="list-group">
          <% _.each(boards, function (board) { %>
            <a href="/board/find?id=<%=board.id%>" class="list-group-item">
              <h5 class="list-group-item-heading"><%= board.title %>
                <small>
                  <label class="label label-default">조회수</label>
                  <span class="badge"><%= board.viewCount %></span>
                  <label class="label label-default">Like</label>
                  <span class="badge"><%= board.likeCount %></span>
                  <label class="label label-default">Unlike</label>
                  <label class="badge"><%= board.unlikeCount %></label>
                  <label class="label label-primary">
                    <i class="icon-<%= board.authorProvider %>-sign"></i> 
                    <%= board.authorName %>
                  </label>
                </small>
              </h5>
              <p class="list-group-item-text">
                <%= (board.createdAt).toISOString() %> ,  ,
                 , <%= board.category %> 
              </p>
            </a>
          <% }); %>
          </div>
        </div>
      </div>
      <!-- end of list form -->

    </div>
  </form>

</section>
