<section id="section-board">
  <form action="/board/" method="post" class="form-horizontal" id="frmBoard">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    <input type="hidden" id="boardId" name="boardId" value="<%= board.id %>" />

    <div class="container">
      <!-- read form -->
      <div class="row" id="read_area">
        <div class="col-md-12">
          <h4><%=board.title%>
             <label class="label label-primary"><%=board.category%></label>
            <small>
              <%=board.createdAt%>, by <%=board.authorDispName%>,
              조회 <span class="badge"><%= board.viewCount %></span>
            </small>
          </h4>
        </div>

          <div class="row">
            <div class="col-md-11">
              <textarea rows="10" class="col-md-11" readonly><%=board.contents%></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label  class="label label-default">태그</label></div>
            <span class="col-md-8">
              <% _.each(board.tags, function (tag) { %>
              <label class="label label-success"><%= tag %></label>&nbsp;
              <% }); %>
            </span>
          </div>
        </div>
      </div>
      <!-- end of read form -->

    </div>
  </form>

  <% if (comments) { 
     _.each(comments, function (comment) { %>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2">
            <i class="fa fa-<%= comment.authorProvider %>-square"></i> 
            <%= comment.authorDispName %>
          </div>
          <div class="col-md-6">
            <%= comment.comment %>
          </div>
          <div class="col-md-2">
            <%= new Date(comment.createdAt).toISOString().substring(0,10) %>
          </div>
          <div class="col-md-2">
  <!--           <button class="btn btn-default btn-sm">댓글 수정</button>
            <button class="btn btn-default btn-sm">댓글 삭제</button> -->
          </div>
        </div>
      </div>
    </div>

  <% });  } %>

 <!-- 댓글 남기기 login user 만. -->
  <% var userId = req.user ? req.user.userId : null;
     if ( userId != null) { %>
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <%= req.user.authorDispName %>
      </div>
      <div class="col-md-8">
        <textarea row="2" class="col-md-12" id="txt_comment"></textarea>
      </div>
      <div class="col-md-3">
        <button class="btn btn-default btn-sm" id="btn_comment_save">댓글 남기기</button>
      </div>

    </div>
  </div>
  <% } %>

</section>

<script>
    $("#frmBoard").submit(function(e) {
      e.preventDefault();
    });

    $(document).ready(function(){
      // comments get.
    });

    $("#btn_comment_save").click(function(e) {

         $.ajax({
           type: "POST",
           url: "/comment/create",
           data: { boardId: $("#boardId").val(), 
                   comment: $("#txt_comment").val()
           },
           dataType:'json'
         }).done(function( resultJson ) {
           $("#divAlert").addClass("alert-"+resultJson.type).show();
           $("#returnType").html(resultJson.type);
           $("#returnMessage").html(" "+resultJson.message);

           if (resultJson.type === "success") {
             location.href = "/board/" + $("#boardId").val();
           }else if (resultJson.type === "error") {
             alert(resultJson.message);
           }
         });


    });


</script>