<section id="section-board">
  <form action="/board/" method="post" class="form-horizontal" id="frmBoard">
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />

    <div class="container">
      <!-- read form -->
      <div class="row" id="read_area">
        <div class="col-md-12">
          <h4><%=board.title%>
             <label class="label label-primary"><%=board.category%></label>
            <small>
              <%=board.createdAt%>, by <%=board.authorName%>,
              조회 <span class="badge"><%= board.viewCount %></span>
            </small>
          </h4>
        </div>

          <div class="row">
            <div class="col-md-11">
              <textarea rows="10" class="col-md-11" readonly><%=board.contents%></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label  class="label label-default">태그</label></div>
            <span class="col-md-8">
              <% _.each(board.tags, function (tag) { %>
              <label class="label label-success"><%= tag %></label>&nbsp;
              <% }); %>
            </span>
          </div>
        </div>
      </div>
      <!-- end of read form -->

    </div>
  </form>

</section>

<script>
    $("#frmBoard").submit(function(e) {
      e.preventDefault();
    });

    $(document).ready(function(){

    });
</script>