<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/" data-no-turbolink='true'>
            <span>
              <img height="13px" width="13px" src="/favicon.ico" alt="i" title="i" />
                undefine:D
            </span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- Search Text Box -->
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li><a rel="tooltip" target="_blank" href="https://www.facebook.com/groups/html5jsstudy/"
               title="undefine:D facebook group">
          <i class="fa fa-facebook-square"></i> 언디파인드 페이스북그룹 이동</a></li>

        <% if current_user %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="<%=current_user.image%>" height="15" width="15" />
                <%= current_user.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "사용자 정보", user_path(current_user) %></li>
                <li><%= link_to "글쓰기", new_user_post_path(current_user) %></li>
                <li><%= link_to (t "user.Log out"), destroy_user_session_path, method: :delete  %></li>
              </ul>
            </li>
        <% else %>
            <li>
                <%= link_to t("user.Log in"), new_user_session_path, id: "sign_in_local", class: "" %>
            </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>